/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';

/* * {
  outline: 1px solid red;
} */

:root {
  --font-family: 'Open Sans', sans-serif;
  --second-fond-family: 'Roboto', sans-serif;
  --color-menu-hover: #1abc9c;
  --color-menu: #0f0101;
  --color-top-menu: #fff;
  --color-logo: #555252;
  --color-products: #e9f0fd;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #515151;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.row {
  background-attachment: fixed;
  background-color: #1abc9c;
  animation-name: topUp;
  animation-duration: 2000ms;
  animation-timing-function: var(--timing-fn);
  animation-fill-mode: backwards;
}

/* Container */

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Top header */

.header-top {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list {
  list-style: none;
}

.contacts {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.phone__icon,
.mail__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #fff;
}

.phone-link {
  margin-right: 35px;
}

.phone-link,
.mail-link {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family);
  color: var(--color-top-menu);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-weight: 300;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus {
  color: #000;
  transform: scale(1.1);
}
.phone-link:hover,
.phone-link:focus {
  transform: scale(1.1);
  color: #000;
}

.page-menu {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.page-menu__item {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.page-menu__link {
  display: block;
  font-family: var(--font-family);
  color: var(--color-top-menu);
  font-weight: 300;
  font-size: 14px;
  line-height: 11px;
  text-decoration: none;
  transition: color 250ms var(--timing-fn);
  transform: scale(1);
}

.page-menu__link:hover,
.page-menu__link:focus {
  color: #000;
  transform: scale(1.2);
}

/* <!-- Nav header --> */
.logo {
  font-family: var(--second-fond-family);
  color: var(--color-logo);
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 300;
  text-decoration: none;
  margin-right: auto;
  text-transform: uppercase;
  transform: scale(1);
  animation-name: logoleft;
  animation-duration: 600ms;
  animation-timing-function: var(--timing-fn);
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.logo:hover {
  transform: scale(1.25);
}

.logo::first-letter {
  font-family: var(--second-fond-family);
  font-weight: 900;
  letter-spacing: -1px;
  color: var(--color-menu-hover);
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-menu {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  display: flex;
  animation-name: navtop;
  animation-duration: 600ms;
  animation-timing-function: var(--timing-fn);
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.nav-menu__link {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  color: #0f0101;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms var(--timing-fn);
  transform: scale(1);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: #1abc9c;
  transform: scale(1.25);
}

/* Slider */
.hero {
  position: relative;
  height: 600px;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.522),
      rgba(0, 0, 0, 0.522)
    ),
    url('../images/slider.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.522),
        rgba(0, 0, 0, 0.522)
      ),
      url('../images/slide4@2x.jpg');
  }
}

.hero-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.hero-slider__title {
  width: 775px;
  font-family: var(--font-family);
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  animation-name: banertitle;
  animation-duration: 2000ms;
  animation-timing-function: var(--timing-fn);
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.ampersant,
.excerpt {
  color: var(--color-menu-hover);
  font-weight: 400;
}

.hero-slider__link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 150%) scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 42px;
  background-color: var(--color-menu-hover);
  cursor: pointer;
  border: 2px solid #1abc9c;
  font-family: var(--second-fond-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 250ms var(--timing-fn);
  animation-name: slideInTop;
  animation-duration: 1500ms;
  animation-timing-function: var(--timing-fn);
  animation-fill-mode: backwards;
  animation-delay: 1500ms;
}

.hero-slider__link:hover,
.hero-slider__link:focus {
  color: #000;
  background-color: #117e68;
  transform: translate(-50%, 150%) scale(1.1);
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700;
}

/* <!-- Settings --> */

.settings-list {
  font-family: var(--font-family);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #555252;
  list-style: none;
  cursor: pointer;
}

.settings-list__item {
  max-width: 255px;
}

.settings-list__icon {
  display: block;
  width: 65px;
  height: 65px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 65px;
}

.settings-list__title {
  font-size: 18px;
  line-height: 32px;
  color: var(--color-logo);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  transform: scale(1);
}

.settings-list__title:hover {
  transform: scale(1.2);
}

.settings-list__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.28px;
  text-indent: initial;
}

/* <!-- New Collection --> */

.collection {
  background-color: var(--color-products);
  text-transform: uppercase;
  padding-bottom: 100px;
}

.section-title {
  font-family: var(--second-fond-family);
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.96px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.section-decoration {
  display: block;
  width: 165px;
  height: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.section-decorationicon--white {
  margin-bottom: 28px;
}

.products-card {
  display: flex;
}

.products-card__item {
  margin-right: 30px;
}

.products-card__item:nth-child(4) {
  margin-right: 0;
}
.image-box {
  width: 255px;
  position: relative;
  overflow: hidden;
}

.image-box .overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  border: 10px solid;
  background-color: #0000008c;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.image-box:hover .overlay::before {
  transform: translateY(0);
}

.overlay-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 168px;
  height: 107px;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  transition: all 250ms var(--timing-fn);
}

.image-box:hover .overlay-icons {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.button {
  all: unset;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 250ms var(--timing-fn);
}

.button:hover,
.button:focus {
  background-color: var(--color-menu-hover);
  border: none;
}

.icon-overlay {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-icons__item--icon-lake {
  position: absolute;
  left: 0;
  width: 48px;
  height: 48px;
}

.overlay-icons__item--icon-shuffe {
  position: absolute;
  left: 60px;
  width: 48px;
  height: 48px;
}

.overlay-icons__item--icon-clock {
  position: absolute;
  right: 0;
  width: 48px;
  height: 48px;
}

.overlay-icons__item--icon-cart {
  position: absolute;
  width: 168px;
  height: 48px;
  left: 0;
  bottom: 0;
  text-align: center;
}

.icon-overlay--icon-cart {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.overlay-icons__item--icon-text {
  position: absolute;
  top: 7px;
  left: 55px;
  font-family: var(--font-family);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.products-name {
  display: flex;
  justify-content: space-between;
  width: 255px;
  height: 40px;
  background-color: #323232;
  transition: background-color 250ms cubic-bezier(0.76, 0.46, 0.09, 0.63);
}

.products-name:hover,
.products-name:focus {
  background-color: var(--color-menu-hover);
}

.products-name__title,
.products-name__link {
  display: flex;
  align-items: center;
  font-family: var(--second-fond-family);
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.36px;
  font-weight: 900;
  color: var(--color-products);
  padding-left: 12px;
  letter-spacing: normal;
  text-decoration: none;
  color: var(--color-products);
  text-transform: uppercase;
}

.products-name__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: var(--second-fond-family);
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  color: var(--color-products);
  letter-spacing: -0.36px;
}

/* <!-- Featured Products --> */
.products {
  padding-bottom: 100px;
}

.featured {
  display: flex;
  flex-wrap: wrap;
}

.featured-items {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 4 - 30px);
  flex-grow: 0;
  background-color: var(--color-products);
}

.featured-items:nth-child(4n) {
  margin-right: 0;
}

.featured-items:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

/* <!--  Latest News --> */

.latest-news {
  background-color: var(--color-products);
  padding-bottom: 100px;
}

.news {
  display: flex;
}
.news-list {
  width: 355px;
  margin-right: 30px;
}

.news-list:nth-last-child(-n + 1) {
  margin-right: 0;
}

.news-list__img {
  margin-bottom: 12px;
}

.news-list__text {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -0.36px;
  margin-bottom: 48px;
}

.news-list__text::after {
  content: '';
  display: block;
  margin-top: 11px;
  width: 136px;
  height: 3px;
  background-color: var(--color-menu-hover);
}

.news-list__excerpt {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.28px;
  margin-bottom: 15px;
}

.news-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 51px;
  border-radius: 3px;
  border: none;
  background-color: var(--color-menu-hover);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
  transform: scale(1);
  transition: background-color 250ms var(--timing-fn);
}

.news-list__link:hover,
.news-list__link:focus {
  background-color: #117e68;
  color: #000;
  transform: scale(1.1);
  font-weight: 400;
  border: 2px solid #fff;
  border-radius: 5px;
}

/* <!-- Page footer --> */
.footer {
  height: 460px;
  background-color: #4ec6ab;
  background-image: url(../images/icons/footer-icons/bg2decor-full.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.footer-title {
  font-family: var(--second-fond-family);
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.96px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.fooret-text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.32px;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 45px;
}

.form-mail {
  display: flex;
  justify-content: center;
}

.form-mail__enter,
.mail {
  display: block;
  width: 450px;
  height: 60px;
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.32px;
  padding-left: 30px;
  color: #555252;
  border: none;
}

.footer-icon {
  display: block;
  width: 48px;
  height: 28px;
  margin: 0 auto;
}

.button-mail {
  all: unset;
  width: 90px;
  height: 56px;
  cursor: pointer;
  padding-left: 25px;
  border: 2px solid #fff;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  transition: all 250ms linear;
}

.button-mail:hover {
  background-color: #117e68;
  transform: scale(1.1);
  padding-left: 0;
}

/* @keyframes */

@keyframes topUp {
  0% {
    opacity: 0;
    transform: scale (0.1);
  }

  100% {
    opacity: 1;
    transform: scale (1);
  }
}

@keyframes logoleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navtop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes banertitle {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translate(-50%, 400%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 150%);
  }
}
