$color-menu-hover: #1abc9c;
$color-menu: #0f0101;
$color-top-menu: #fff;
$color-logo: #555252;
$color-products: #e9f0fd;
$primary-color: #515151;
$primary-fond-stack: 'Open Sans', sans-serif;
$second-fond-family: 'Roboto', sans-serif;
$primary-fond-size: 14px;
$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
