.nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-menu {
  font-family: $primary-fond-stack;
  font-size: $primary-fond-size;
  font-weight: 700;
  line-height: 11px;
  display: flex;
  animation-name: navtop;
  animation-duration: 600ms;
  animation-timing-function: $timing-fn;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.nav-menu__link {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  color: #0f0101;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms $timing-fn;
  transform: scale(1);

  &:hover,
  &:focus {
    color: $color-menu-hover;
    transform: scale(1.25);
  }
}
